.container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.wrapper {
  display: inline-block;
  width: 30%;
  margin: 10px;
  height: auto;
}

.spinner {
  position: fixed;
  top: 80%;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
