.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper {
  width: 12%;
  height: 12%;
  display: inline-block;
  margin: 0 12px 1em 12px;
  position: relative;
}
