.pokemon-details {
  display: flex;
}
.details-img-wrapper {
  width: 50%;
  margin: 30px;
}
.details-wrapper {
  width: 50%;
  font-size: 20px;
  font-weight: 500;
}

.wrapper {
  display: inline-block;
  width: 30%;
  margin: 10px;
}

.weakness {
  display: inline-block;
}
