<mat-card class='pokemon-details'>
  <div class='details-img-wrapper'>
    <img class="pokemon-image"
      src="{{pokemon.imageUrl}}"
      alt="Photo">
  </div>
  <div class='details-wrapper'>
    <div><span class="details-label">Id:</span> {{pokemon.id}}</div>
    <div><span class="details-label">Name:</span> {{pokemon.name}}</div>
    <div>Supertype: {{pokemon.supertype}}</div>
    <div>Series: {{pokemon.series}}</div>
    <div>Rarity: {{pokemon.rarity}}</div>
    <div>Pokedex number: {{pokemon.nationalPokedexNumber}}</div>
    <div>HP: {{pokemon.hp}}</div>
    <div>Set: {{pokemon.set}}</div>
    <div class='weakness'>Weaknesses:
      <span *ngFor="let weakness of pokemon.weaknesses">
        {{weakness.type}} {{weakness.value}}
      </span>
    </div>
    <div>Attacks:
      <div class="pokemon-attacks"
        *ngFor="let attack of pokemon.attacks">
        <div><span class="details-label">Name: </span>{{attack.name}} </div>
        <div><span class="details-label">Damage: </span>{{attack.damage}}
          <span *ngFor="let cst of attack.cost">{{cst}} </span></div>
        <div><span class="details-label">Energy Cost: </span>{{attack.convertedEnergyCost}} </div>
        <div><span class="details-label">Text: </span>{{attack.text}} </div>
      </div>
    </div>
    <div>Evolves from: {{pokemon.evolvesFrom}}</div>
    <div>Types:
      <span *ngFor="let type of pokemon.types">{{type}}</span>
    </div>
  </div>
</mat-card>
<div>
  <h2> Similar pokemons:</h2>
  <app-pokemon class="wrapper"
    *ngFor="let pokemon of similarPkmns$ | async"
    [pokemon]='pokemon'></app-pokemon>
</div>