mat-card-header {
  text-align: center;
}

mat-card-content {
  text-align: center;
}
.pokemon-image {
  width: 215px;
}

@media only screen and (max-width: 1200px) {
  .pokemon-image {
    width: 100%;
  }
}
